# Eclipse
.classpath
.project
.settings/
.metadata

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/
lib/

*~
*#*#
*.#*
dist/
logs/
*.pid

# vagrant
.vagrant

# shade plugins
*dependency-reduced-pom.xml
