input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box; 
    line-height: normal;
}

.navbar-logo { padding-top: 0px; }
#googlebox { padding-bottom: 0px; margin-bottom: 0px; }
footer { margin-top: 20px; font-size: small}